[submodule "themes/themes/themes/themes/linkita"]
	path = themes/themes/themes/themes/linkita
	url = https://github.com/salif/linkita.git
	branch = tera1
[submodule "themes/linkita"]
	path = themes/linkita
	url = https://github.com/salif/linkita.git
	branch = tera1
